<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="memcache" type="NHibernate.Caches.MemCache.MemCacheSectionHandler,NHibernate.Caches.MemCache" />
  </configSections>
  
  <appSettings>
    <add key="redis-conn-str" value="192.168.10.3:6379" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="adminDb" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=RealtyTest;Integrated Security=SSPI;MultipleActiveResultSets=true;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>

    <gcServer enabled="true" />
  </runtime>

  <memcache>
    <memcached host="192.168.10.3" port="11211" weight="2" />
  </memcache>
</configuration>